.App {
  text-align: center;
  background-color: rgba(221,221,221,1);
}

.App-header {
  background-color: #53D8EA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 25px;
  color: black;
}

.App-link {
  color: #61dafb;
}
.survey{
text-align: left;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
